# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/restfulwebservices/.mvn/wrapper/maven-wrapper.jar
/restfulwebservices/.mvn/wrapper/maven-wrapper.properties
/restfulwebservices/.mvn/wrapper/maven-wrapper.jar
/restfulwebservices/.mvn/wrapper/maven-wrapper.jar
/restfulwebservices/*.cmd
/restfulwebservices/mvnw
/restfulwebservices/.mvn/wrapper
/*.bak
/restfulwebservices/.mvn
/limits-service/.mvn
/limits-service/mvnw
/limits-service/mvnw.cmd
/spring-cloud-config-server/.mvn
/spring-cloud-config-server/mvnw.cmd
/spring-cloud-config-server/mvnw
/currency-exchange-service/.mvn
/currency-exchange-service/mvnw.cmd
/currency-exchange-service/mvnw
/currency-conversion-service/.mvn
/currency-conversion-service/mvnw.cmd
/currency-conversion-service/mvnw
/netflix-eureka-naming-server/.mvn
/netflix-eureka-naming-server/mvnw.cmd
/netflix-eureka-naming-server/mvnw
/netflix-zuul-api-gateway-server/.mvn
/netflix-zuul-api-gateway-server/mvnw
/netflix-zuul-api-gateway-server/mvnw.cmd
/limits-service-v2/.mvn
/limits-service-v2/mvnw.cmd
/limits-service-v2/mvnw
/spring-cloud-config-server-v2/mvnw.cmd
/spring-cloud-config-server-v2/.mvn
/spring-cloud-config-server-v2/mvnw
/currency-exchange-service-v2/.mvn
/currency-exchange-service-v2/mvnw
/currency-exchange-service-v2/mvnw.cmd
/currency-conversion-service-v2/mvnw.cmd
/currency-conversion-service-v2/.mvn
/currency-conversion-service-v2/mvnw
/netflix-eureka-naming-server-v2/mvnw.cmd
/netflix-eureka-naming-server-v2/.mvn
/netflix-eureka-naming-server-v2/mvnw
/spring-cloud-api-gateway-server-v2/mvnw.cmd
/spring-cloud-api-gateway-server-v2/.mvn
/spring-cloud-api-gateway-server-v2/mvnw
